html {
    font-size: 10px;
    font-family: 'Space Grotesk', sans-serif;
}

p,
h4 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #a10000;
    transition: all 0.5s;
}

a.dark-mode {
    color: yellow;
}

a:hover {
    color: #635436;
}

a.dark-mode:hover {
    color: #F7B32B;
}

body {
    font-size: 2rem;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    background: url(./asserts/background.png);
    color: #635436;
}

.container.container-dark {
    background: linear-gradient(#5B483A, #262425);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    background: url(./asserts/Texture.png);
}

h1 {
    margin-top: 10px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
    color: #F7B32B;
}

h3 {
    margin: 0;
}

.ico {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sun {
    transition: all 1s;
    opacity: 0;
    width: 0;
}

.moon {
    transition: all 1s;
}

.column-education {
    margin: 10px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.underline {
    border-bottom: 8px solid #F7B32B;
    display: block;
    width: 30%;
    margin-bottom: 10px;
}

.photo {
    max-width: 300px;
    width: 100%;
    height: 100%;
    text-align: end;
    padding-right: 2rem;
    border-radius: 3rem;
}

.header-elements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.left-part>h4:nth-child(1) {
    margin-bottom: 115px;
}

.divider img {
    margin: 10px 0;
    width: -webkit-fill-available;
}

.ico-line {
    width: 30%;
}

@media (max-width: 700px) {

    .ico-line {
        visibility: hidden;
    }
    
}


/* main */
.section-title {
    width: 130px;
}

.section-title.dark-mode {
    color: #F7B32B;
}

.column-3 {
    display: flex;
}

.left-part p:nth-child(1) {
    margin-bottom: 300px;
}

.element {
    width: 50px;
}

/* contacts */

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

.contacts img {
    display: block;
    margin: 0 auto;
    width: 40px;
}

.contact-element {
    /* width: 30%; */
    text-align: center;
}

/* footer */

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2vh 0;
}

.github-account.dark-mode {
  fill:#F7B32B;
}

.github-account:hover {
  transform:scale(1.5);
}

